<section class="cepourquoi" id="cepourquoi">
  <div class="row">
    <div class="large-4 large-offset-0 medium-6 medium-offset-1 small-12 columns">
      <h2>Ce pour quoi on se lève le matin</h2>
    </div>
  <div class="large-12 medium-offset-1 medium-11 columns">
    <hr>
  </div>

  </div>

  <div class="row">
  <article class="large-4 large-offset-0  medium-5 medium-offset-1 small-12 columns">
        <p>A l’origine du Bas Moteur il y a une idée simple : créer une société qu’on n’aurait jamais envie de vendre. Mettre un coup de clef de 18 dans les molaires de la malbouffe. Travailler avec des potes. Bosser quand on veut, où on veut, habillé comme on veut. Créer des produits qu’on a nous-mêmes envie de consommer.
Toutes ces petites choses qui changent la vie, donnent du sens, et rendent le travail… différent. Au bout il y aura le succès ou l’échec, nous verrons bien. Plus que le but, c’est la route qui compte.
</p>
      </article>
      <article class="large-4 medium-5 small-12 columns end">
        <p>En créant notre Food-Truck une seule chose nous semblait évidente : nous voulions des produits qui nous ressemblent : simples, authentiques, au plus proche de la nature. Des produits sans prise de tête, faciles à comprendre et qui apportent quelque chose de nouveau. Et surtout des produits bons et sains. Fastfood MAIS de qualité !</p>
        <a href="" class="hollow button">Voir plus</a>
      </article>
      <div class="image large-4 medium-12 columns">
        <img src="assets/img/truck.png" alt="">
      </div>
</div>

<div class="bigburger">
  <img src="assets/img/big_burger.png" alt="">
</div>

</section>
