<section class="formule" id="formule">
  <div class="row">

    <div class="large-12 columns">
      <h2>Les formules</h2>
    </div>

    <div class="large-12 columns">
      <hr>
    </div>

  </div>

  <div class="row">
    <div class="large-4 medium-6 small-12 columns">
      <article class="large-12 columns">
        <div class="rond">
          <img  src="assets/img/icon_sandwich.png" alt="">
        </div>
          <h3 class="text-center">« Pas trop stp ! »</h3>
          <ul class="no-bullet">
            <li>- 1 Sandwich taille-S</li>
            <li>- 1 Boisson 33cl</li>
            <li>- 1 dessert ou 1 café/cookie</li>
          </ul>
          <h3 class="price">7,50 €</h3>
      </article>
    </div>


    <div class="large-4 medium-6 small-12 columns">
      <article class="offer large-12 columns">
        <div class ="text-center">
          <img src="assets/img/icon_star.png" alt="">
        </div>
          <h3 class="text-center">« Pas trop stp ! »</h3>
          <ul class="no-bullet">
            <li>- 1 Sandwich taille-M</li>
            <li>- 1 Boisson 50cl</li>
            <li>- 1 dessert ou 1 café/cookie</li>
          </ul>
          <h3 class="price">10,50 €</h3>
      </article>
    </div>


    <div class="medium-6 medium-offset-3 large-offset-0 small-12 large-4 end columns">
      <article class=" third large-12 columns">
        <div class="rond">
          <img  src="assets/img/icon_sandwich.png" alt="">
        </div>
          <h3 class="text-center" style="letter-spacing:-1px;">« Ça va faire mal ! »</h3>
          <ul class="no-bullet">
            <li>- 1 Salade</li>
            <li>- 1 Sandwich taille-L</li>
            <li>- 1 Boisson 50cl</li>
            <li>- 1 dessert ou 1 café/cookie</li>
          </ul>
          <h3 class="price">12,50 €</h3>
      </article>

</div>


</section>
