<div class="off-canvas position-right" id="offCanvas" data-off-canvas data-position="right">

  <!-- Close button -->
  <button class="close-button" aria-label="Close menu" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>


  <img src="assets/img/logoblack.png" alt="Le bas moteur" >

  <!-- Menu -->
  <ul class="vertical menu text-center">
    <li><a href="#">ACCUEIL</a></li>
    <li><a href="#quesaco">QUI ?</a></li>
    <li><a href="#">QUOI ?</a></li>
    <li><a href="#">OÙ et QUAND ?</a></li>
    <li><a href="#">NOTRE HISTOIRE</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>



</div>
