header {
  padding-top:20px;
  padding-left:60px;
  padding-right:60px;
  height:840px;


  h1 {
    display:inline-block;;
  }
  nav {
    display:inline-block;
    float:right;
    margin-top:40px;
    span {
      margin-right:10px;
      color:white;
    }
    a:hover {opacity:0.9;}
  }
}


@media screen and (max-width: 640px) {
header {

    nav {
      display:block;
      float:none;
      text-align:center;
      margin-left:-10px;
    }
    h1 {
      display:block;
      text-align:center;
    }
  }
}
