/* POUR POUVOIR AFFICHER CORRECTEMENT TOUT LE SITE */
.off-canvas-wrapper-inner {
  height:5000px;
}

#offCanvas {
    padding-top:85px;

  img{
    padding-left: 58px;
    width:270px;
  }

  ul {

    padding-top:100px;
    li {

      a {
        color:$blue;
        font-family:$slab;
        font-size:24px;
        display:block;
        padding-top:35px;
        padding-bottom:35px;
      }
      a:hover {

        color:white;
        font-family:$slab;
        background:$blue;
      }
    }

  }
}
